<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h3>Insert package:</h3>
<input id="input" type="text" size="30" pInputText [(ngModel)]="package"> 


<h3>Insert version:</h3>
<input id="input" type="text" size="30" pInputText [(ngModel)]="version"> 

<h3>Find dependencies:</h3>
<button pButton type="button" (click)="onclick()" label="Click"></button>

<h3>Dependencies:</h3>
<p-tree [value]="tree"></p-tree>